# --- Python files

# compiled source
*.pyc

# setuptools files
dist/*
*.egg-info

# testing files
.cache
.coverage
.coverage.*
.pytest_cache

# --- Miscellaneous

# autoenv files
.env

# temporary files
.*.swp

# macOS files
.DS_Store*
