PACKAGE NAME: README
====================
------------------------------------------------------------------------------

Contents
--------

1. [Overview][#1]

    1.1. [Package Contents][#1.1]

    1.2. [License][#1.2]

2. [Installation][#2]

    2.1. [Software Dependencies][#2.1]

3. [Documentation][#3]

4. [Known Issues][#4]

------------------------------------------------------------------------------

## 1. Overview

PLACEHOLDER

### 1.1. Package Contents

PLACEHOLDER

### 1.2. License

See the LICENSE file for copyright and license information.

------------------------------------------------------------------------------

## 2. Installation

### 2.1. Software Dependencies

#### Base Requirements

* Python (>=3.7)

#### Python Packages ####

See the `INSTALL_REQUIREMENTS`, `TESTING_REQUIREMENTS` and `DEV_REQUIREMENTS`
variables in the `setup.py` file.

------------------------------------------------------------------------------

## 3. Documentation

PLACEHOLDER

------------------------------------------------------------------------------

## 4. Known Issues

PLACEHOLDER

------------------------------------------------------------------------------

[-----------------------------INTERNAL LINKS-----------------------------]: #

[#1]: #1-overview
[#1.1]: #11-package-contents
[#1.2]: #12-license

[#2]: #2-installation
[#2.1]: #21-software-dependencies

[#3]: #3-documentation

[#4]: #4-known-issues

