#!/bin/bash

# --- Activate virtual Python environment

TARGET_VIRTUALENV={{ VIRTUALENV_NAME }}
virtualenvwrapper_verify_active_environment 2> /dev/null
if [ $? -ne 0 ]; then
    workon $TARGET_VIRTUALENV
else
    if [ `basename $VIRTUAL_ENV` != "$TARGET_VIRTUALENV" ]; then
        workon $TARGET_VIRTUALENV
    fi
fi

# --- Configure environment

# Find top-level directory
TOP_DIR=`echo $(dirname "${BASH_SOURCE[0]}")`

# Set PATH
if [[ "$PATH" != *$TOP_DIR* ]]; then
    export PATH=$TOP_DIR:$PATH
fi
if [[ "$PATH" != *$TOP_DIR/bin* ]]; then
    export PATH=$TOP_DIR/bin:$PATH
fi

# Set PYTHONPATH
unset PYTHONPATH
if [[ "$PYTHONPATH" != *$TOP_DIR* ]]; then
    export PYTHONPATH=$TOP_DIR:$PYTHONPATH
fi

# --- Clean up

unset TARGET_VIRTUALENV
